In [22]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, Imputer

ImportError: cannot import name 'Imputer' from 'sklearn.preprocessing' (C:\Users\Pratham Chauhan\anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)

In [12]:
dataset = pd.read_csv('C:/Users/Pratham Chauhan/Jupyter/Data.csv')

In [13]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [14]:
labelencoder_X = LabelEncoder()

In [16]:
X = dataset.iloc[:, :-1].values

In [17]:
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

In [18]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [19]:
onehotencoder = OneHotEncoder(categorical_features = [0])

TypeError: __init__() got an unexpected keyword argument 'categorical_features'