In [1]:
from sklearn.datasets import make_regression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
(X,y)=make_regression(n_samples=100,n_features=100,n_informative=10)

In [2]:
X

array([[ 1.34770319,  0.19626305, -1.29305836, ..., -0.55713702,
         0.56648464, -1.29895882],
       [ 0.99151995, -0.85137289, -0.25235907, ..., -0.61496911,
        -0.57734711, -0.35962347],
       [-0.28137423, -0.04224283, -2.006967  , ..., -0.80962885,
        -0.87652393, -0.63921297],
       ...,
       [ 0.52467289,  1.47014255, -0.02665162, ...,  0.67307109,
        -1.0569212 , -0.08649964],
       [ 0.47637053,  0.8129233 , -0.22785473, ...,  1.3328202 ,
        -0.09468597,  0.90884214],
       [-0.28043455, -0.97315776,  0.43903607, ...,  0.01490922,
        -0.77456149,  1.05374139]])

In [3]:
y

array([ -10.13239329,    2.82388469,   85.58828017,  203.22674825,
        -68.23873376,  150.68943481, -169.06107708, -175.28000368,
        182.48882857, -245.00972565,  -97.95874222,   55.61887009,
         93.10135796, -300.09457787,   53.84458209, -232.47728853,
         96.23747805,  188.56020685,  196.41511062,  312.02549738,
        -88.460116  ,  107.93514947,   23.70854922,    8.58019877,
        188.81356716,  247.71321302,  377.65334236,    2.79821698,
        -68.87562056,  126.97153162, -245.63041328, -322.08340022,
        -38.56372586, -155.695472  ,  338.27874989,  308.60318067,
        -40.75105561,  -81.35083531,   11.31975738,  136.46699628,
       -438.33830378,  112.57295812, -317.63469119, -222.14028636,
          2.75441345,   31.60943268,  -15.67781203,  158.86827979,
        131.58291073, -148.6253666 ,   -7.00376107, -199.27002874,
        -96.94502279, -176.21125076, -101.67349183,  -45.67708178,
       -134.96484794,  -10.66718512, -122.6658703 , -345.53361129,
         66.81097352,   90.93337069,   40.86374992,  240.7097307 ,
        160.52316132, -192.7022047 ,  107.78340553, -279.14990687,
         24.63324893,  -65.07817613, -275.60922388, -288.32206672,
       -234.03530503,  138.25705415, -174.84408073, -165.11924404,
       -480.06814038,  -43.87248554,  111.82967324, -130.15037514,
       -453.95981412,   49.11796235,  283.31053168, -318.05229994,
        124.70018284,  230.54675359,  -69.66299131,  -84.06353774,
        127.4812982 ,  264.09759544,  -46.22934021,  357.97949326,
       -265.35951713,  283.34309304,  191.75423033,   -3.74668661,
          1.13018751,  -96.17977542,  250.13959792,  312.69516587])

In [4]:
import pandas as pd
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.347703,0.196263,-1.293058,-1.804850,-0.163981,-0.183365,-1.828088,0.904944,-0.684634,0.029256,...,0.055799,-0.191551,0.373657,-1.372681,-2.017137,1.328165,-1.181166,-0.557137,0.566485,-1.298959
1,0.991520,-0.851373,-0.252359,-1.025197,-0.130500,-1.871338,-0.253307,-0.977928,-0.150288,-0.235942,...,2.109752,-1.143118,0.504289,0.968592,-0.159668,-0.839372,1.194752,-0.614969,-0.577347,-0.359623
2,-0.281374,-0.042243,-2.006967,-0.214312,1.605376,2.630334,1.075696,-1.159482,1.903280,-0.480732,...,-0.231388,-0.413143,1.209658,0.297228,-1.215288,-1.453768,0.893089,-0.809629,-0.876524,-0.639213
3,-0.574159,0.102369,-0.542399,0.654385,1.181223,-0.585053,-1.001026,-0.093468,-1.063530,-0.030655,...,0.629814,1.331713,-0.631977,-2.147742,0.808459,0.053702,-0.389838,-0.775673,-0.480958,1.087383
4,1.406645,-1.116130,1.528835,-0.180844,-1.014781,-0.608987,-0.349340,0.924731,-0.602169,-1.119868,...,0.057401,-0.585818,1.229625,2.469091,0.387458,1.381300,-0.178082,0.758731,0.194773,0.098497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-0.586180,0.049711,-2.025194,-0.278706,-0.813998,0.053772,-2.060205,0.517015,-1.487078,0.406579,...,-0.818505,-0.089237,0.922029,0.066196,-0.257951,0.008214,-0.831841,-0.268284,-0.122963,0.686897
96,-0.686874,-0.532741,-1.531486,2.400558,-0.254857,-0.574316,0.738484,0.558417,-0.087280,-0.936151,...,0.507139,-1.110829,0.220118,-1.494928,0.083003,0.064329,0.535005,1.430182,0.521914,0.184768
97,0.524673,1.470143,-0.026652,-0.952394,-0.792471,0.588753,0.723023,-0.138042,-2.104870,-1.978492,...,-0.201070,0.699035,1.625870,1.862685,0.217338,0.074677,0.069768,0.673071,-1.056921,-0.086500
98,0.476371,0.812923,-0.227855,0.276208,0.735921,1.293704,0.430660,-1.127187,1.286764,1.445565,...,-0.111201,-0.415532,-1.955956,1.196297,0.028527,0.511865,-0.131462,1.332820,-0.094686,0.908842
99,-0.280435,-0.973158,0.439036,-2.239332,-1.403639,1.002601,-0.171977,1.232529,-0.101189,0.697021,...,-0.083601,1.840796,-1.415190,-0.039206,0.381638,-0.784873,-0.311395,0.014909,-0.774561,1.053741

In [5]:
pd.DataFrame(y)

             0
0   -10.132393
1     2.823885
2    85.588280
3   203.226748
4   -68.238734
..         ...
95   -3.746687
96    1.130188
97  -96.179775
98  250.139598
99  312.695166

[100 rows x 1 columns]

In [5]:
import pandas as pd
pd.DataFrame(X)
pd.DataFrame(y)

             0
0   238.007658
1    46.570606
2   -17.688382
3   -42.982590
4   301.221199
..         ...
95  -12.051695
96  346.203619
97  -85.111964
98   53.608512
99 -342.321797

[100 rows x 1 columns]

In [7]:
fs=SelectKBest(score_func=f_regression,k=10)

In [8]:
X_selected=fs.fit_transform(X,y)

In [10]:
pd.DataFrame(X_selected)

,0,1,2,3,4,5,6,7,8,9
0,1.096690,-1.106022,-0.355261,-0.052122,1.485373,1.701314,0.395572,-0.102986,0.863440,-0.176975
1,0.488785,-0.791893,-0.590763,-0.221815,1.402976,0.639722,0.168252,0.610536,-0.150796,0.568599
2,1.091695,-0.588255,0.395250,-0.429151,-0.610123,1.314750,1.902298,1.157630,0.357648,-0.372940
3,0.955522,1.260547,-1.053598,-1.375481,1.256268,-1.576963,-2.481015,0.314377,-1.712869,0.173265
4,-1.395278,0.436723,0.003000,0.551859,0.730502,-1.339041,1.340288,0.463178,0.787212,0.925289
...,...,...,...,...,...,...,...,...,...,...
95,0.801636,-1.316374,-1.053540,-0.178287,0.035749,-0.066375,0.951622,-0.352609,-0.398123,-0.266237
96,-1.198483,1.919849,-0.227829,-0.562836,2.303197,0.852603,-0.379987,0.995347,-1.920446,1.514911
97,-0.370215,0.818784,-0.152512,-0.102269,0.868651,-0.710367,-0.750085,0.859793,0.357112,-1.784084
98,1.350445,-0.445342,-0.984363,-1.016150,-0.425417,0.145328,-1.032722,-0.116602,0.233198,-0.367766
99,0.758922,-1.267978,-0.197126,0.903131,-0.655649,-0.998047,-0.630143,-2.233535,0.564965,-0.873336